@font-face
  font-family 'music-icon'
  src url('../fonts/music-icon.eot?2qevqt')
  src url('../fonts/music-icon.eot?2qevqt#iefix') format('embedded-opentype'),
          url('../fonts/music-icon.ttf?2qevqt') format('truetype'),
          url('../fonts/music-icon.woff?2qevqt') format('woff'),
          url('../fonts/music-icon.svg?2qevqt#music-icon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'music-icon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-okbefore
  content "\e900"

.icon-closebefore
  content "\e901"

.icon-addbefore
  content "\e902"

.icon-play-minibefore
  content "\e903"

.icon-playlistbefore
  content "\e904"

.icon-musicbefore
  content "\e905"

.icon-searchbefore
  content "\e906"

.icon-clearbefore
  content "\e907"

.icon-deletebefore
  content "\e908"

.icon-favoritebefore
  content "\e909"

.icon-not-favoritebefore
  content "\e90a"

.icon-pausebefore
  content "\e90b"

.icon-playbefore
  content "\e90c"

.icon-prevbefore
  content "\e90d"

.icon-loopbefore
  content "\e90e"

.icon-sequencebefore
  content "\e90f"

.icon-randombefore
  content "\e910"

.icon-backbefore
  content "\e911"

.icon-minebefore
  content "\e912"

.icon-nextbefore
  content "\e913"

.icon-dismissbefore
  content "\e914"

.icon-pause-minibefore
  content "\e915"
